 <nav class="navbar navbar-expand-lg navbar-light shadow" style="background-color:  #E6E6DE;" >
    <div class="container-fluid"> 
      <a class="navbar-brand"><img src="/images/navbarlogo.png" style="width: 60px; height: 50px; object-fit: contain" alt="LOGO"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
        <ul class="navbar-nav collpase navbar-collapse me-auto mb-2 mb-lg-0 ">
          <li class="nav-item">
            <a class="nav-link" href="/purchasing/reorder">Reorder</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link  "  href="/purchasing/inventory">Inventory</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="/purchasing/purchaseOrders">Purchase Orders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="/purchasing/suppliers">Suppliers</a>
          </li>
        </ul>
        <a href="/getLogOut" class="btn btn-outline-secondary me-1 float-end"><strong>Logout</strong></a>
      </div>
    </div>

  </nav>