<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">

  <!-- Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

  <title>Shrinkage</title>
</head>
<body style="background-color: #E6E6DE ">
   <style>
    @media print {
    body * {
      visibility: hidden !important;
    }
    .print-container, .print-container * {
      visibility: visible !important;
    }
    .print-container {
      position: absolute !important;
      /*Adjust depending on the size to align it to the center*/

      left: 3vh !important;
      top: -60vh !important;
/*      left: 6vh !important;
      top: -45vh !important;*/

    }
  }
  </style>

</head>

<body style="background-color:#E6E6DE">

  <title>Shrinkage Report</title>
 {{> navbarInventory}} 
<!-- End of navbar -->

  <div class="p-3" style=" background-color: #E6E6DE">
    <div class="card">
      <div class="card-body rounded shadow" style="background-color: #CC985A">
        <div class="d-flex justify-content-between">
          <h3 class="text-light mb-3">Input Shrinkage</h3>
      </div>


<form class="col">
  <div class="row">
    <label for="exampleInputEmail1" style="width: 100px" class="form-label mt-2 text-light">Ingredient</label>
    <select
    id="ingredient"
    class="form-select "
    name="ingredient"
    required
    style="width: 200px"
    >
    <option selected>Choose...</option>
    {{#each ingredients}}
    <option  value="{{{ingredientName}}}">{{ingredientName}} {{ingredients.uom.abbrev}}</option>
    {{/each}}
  </select>

  <label for="exampleInputPassword1" style="width: 85px" class="form-label mt-2 text-light">Quantity</label>
  <input type="number" class=" form-control" style="width: 80px" min="0" name="qty" id="qty">

  <label for="exampleInputEmail1" style="width: 80px" class="form-label mt-2 text-light">Reason</label>
    <select
    id="reason"
    class="form-select "
    name="reason"
    required
    style="width: 200px"
    >
    <option selected>Choose...</option>
    <option  value="Spoilage">Spoilage</option>
    <option  value="Administrative Error">Administrative Error</option>
    <option  value="Ingredient Damage">Ingredient Damage</option>
    <option  value="Cashier Error">Cashier Error</option>
    <option  value="Theft">Theft</option>
    <option  value="Shoplifting">Shoplifting</option>
    <option  value="Unknown">Unknown</option>

  </select>

  <div class="my-3 col-9 d-flex">
   <label for="exampleInputPassword1" style="width: 85px" class="form-label mt-2 text-light">Remarks</label>
  <textarea class="form-control ms-3" id="remarks" rows="1"></textarea>
</div>

   <button type="button" class="text-light btn col-2 my-3" id="shrinkage"  name="shrinkage" value="shrinkage" style="background-color: #198754"><i class="far fa-plus-square"></i> Add Shrinkage</button>

</div>
</form>

</div>
</div>


<div class="col-md-12 mt-3">
  <div class="card">
    <!-- <div class="card-body overflow-auto rounded shadow" style="height: 40vh; background-color: #7CA6A6"> -->
      <div class="card-body overflow-auto  border rounded shadow-lg bg-light">
      <div class="table-responsive rounded">
        <table class="table overflow-auto table-hover table-bordered table-hover">
          <thead>
            <tr class="text-light" style="background-color: #7CA6A6">
              <th class="text-center">Name</th>
              <th class="text-center">Quantity</th>
              <th class="text-center">Quantity per Stock</th>
              <th class="text-center">Reason</th>
              <th class="text-center">Remarks</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="shrinkageTable">

          </tbody>
        </table>

      </div>

    </div>

  </div>
  <button type="button" id="done"  class="mt-3 btn btn-success float-md-end" value="Report Shrinkage">Report Ingredients as Shrinkage</button>
</div>


<script>
  $(document).ready( () => {

    var cart = [];
    var shrinkageQuantity = [];
    var reasonsList = [];
    var remarksList = [];
    var listIndex = [];
    var index = 0;
    /*if (cart.length === 0)
      $('#done').prop('disabled', false);*/

    $('#shrinkage').click( () => {
      const ingredient = $('#ingredient').val();
      let qty = $('#qty').val();
      const reason = $('#reason').val();
      const remarks = $('#remarks').val();

      if(ingredient == 'Choose...' || qty == '' || reason == 'Choose...'){
        alert('Please input all the fields!');
      }
      else {
        $.get("/listShrinkage", {
          ingredient: ingredient
        },
        ingredient => {
           // $('#purchasedIngredient').val("Choose");


           let shrinkage =  `<tr id="row`+index+`">
           <td class="text-center">`+ingredient.ingredientName+`</td>
           <td class="text-end">`+qty+`</td>
           <td class="text-center">`+ingredient.quantityPerStock +` ` + ingredient.uom.abbrev+`</td>
           <td class="text-center">`+reason+`</td>
           <td class="text-center col-4">`+remarks+`</td>
           <td class="text-center "><button class="btn btn-danger btn_remove mb-2 remove" name='remove' id="` +
                index +
                `">X</button></td>
           </tr>`;
           $("#shrinkageTable").append(shrinkage);
           $('#ingredient').prop('selectedIndex',0);
           $('#reason').prop('selectedIndex',0);
           $('#qty').val("");
           $('#remarks').val("");
          //store it in array
          cart.push(ingredient);
          shrinkageQuantity.push(qty);
          reasonsList.push(reason);
          remarksList.push(remarks);
          listIndex.push(index);
          index++;
        });

        $(document).on("click", ".remove", function () {
          const button_id = $(this).attr("id");
          $(`#row` + button_id + ``).remove();
          let i = button_id;
          let num = listIndex.findIndex(item => item == i);

          cart.splice(num, 1);
          shrinkageQuantity.splice(num, 1);
          reasonsList.splice(num, 1);
          remarksList.splice(num, 1);
          listIndex.splice(num,1);

      });

      }
    });

    $('#done').click( () => {
    if (cart.length == 0) { 
      alert('Add ingredients first!');
    } else {
     $.post("/makeShrinkage", {
      cart: cart,
      shrinkageQuantity: shrinkageQuantity,
      reasonsList: reasonsList,
      remarksList: remarksList
    }, result => {
      /*cart = [];
      shrinkageQuantity = [];
      reasonsList = [];
      remarksList = [];
      listIndex = [];
      index = 0;*/
      $("#shrinkageTable").remove();
      alert('Ingredients are reported as shrinkage!');
      window.location.replace("http://localhost:3000/inventory/shrinkageReport");
    });

   }



 });


  });



</script>




</body>

</html>
