<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta
  name="viewport"
  content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
  />
  <title>Manual Count</title>
  <link
  href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" 
  crossorigin="anonymous"/>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
  <!-- <script type="text/javascript" src="date.js"></script> -->
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">
</head>

<body>

  {{> navbarInventory}}

  <div class="bg-light p-3" style="height: 100vh;">
    <div class="card border-3 " style="border-bottom-color: #0d6efd">
      <div class="card-body rounded row">
        <h3 class="col text-secondary">Manual Count</h3>
      </div>
    </div>

    <!-- Header of table -->

    <div class="row"></div>
    <div class="col-md-12 mt-3">
      <div class="card">
        <div class="card-body overflow-auto rounded" style="height: 75vh">

          <div class="table-responsive rounded">
            <form method="post" action="/inventory/postManualCount">
            <table class="table overflow-auto table-hover">
              <thead>
                <tr class="bg-secondary bg-gradient">
                  <th class="text-center text-light">Purchased Ingredient</th>
                  <th class="text-center text-light">Quantity per Stock</th>
                  <th class="text-center text-light">Unit of Measurement</th>
                  <th class="text-center text-light">Manual Count</th>
                  <th></th>
                </tr>
              </thead>
              <!-- Contents of table -->

              <tbody>
                {{#each purchasedIngredients}}
                <tr>
                  <input type="hidden" name="purchasedIngredientId" class="purchasedIngredientId" id="purchasedIngredientId" value={{_id}}>
                  <td class="text-start">{{purchasedIngredientName}}</td>
                  <td class="text-center">{{quantityPerStock}}</td>
                  <td class="text-center">{{uom.abbrev}}</td>
                  <td class="text-center"><input type="number" name="manualCount" min="0" class="manualcount-input col-3" id="manualcount-input1"></td>
                </tr>
                  {{/each}}
              </tbody>
            </table>
            <div class="float-end"><button type="submit" class="btn btn-primary">Done</button></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>