<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>Orders Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <!-- 
    <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript" src="date.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v6.0.0-beta1/css/all.css">
    <link rel="stylesheet" href="assets/css/styles.css" /> -->
</head>

<body>

    {{> navbarManager}}

    <div class="bg-light p-3 vh-100">
        <div class="card border-3 pb-3 mb-3" style="border-bottom-color: #0d6efd">
            <div class="card-body rounded">
                <h3 class="text-secondary">Orders History > Order 001</h3>
            </div>
        </div>



        <div class="row"></div>
        <div class="col-md-12 mt-3">
            <div class="card">
                <div class="card-body overflow-auto rounded" style="height: 75vh">
                    <div class="table-responsive">
                        <table class="table overflow-auto table-hover">
                            <thead>
                                <tr class="bg-secondary bg-linear-gradien, text-light">
                                    <th class="text-center">Menu Item</th>
                                    <th class="text-center">Price</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each orders}}
                                <tr>
                                    <td class="text-center">{{menuItem.menuItemName}}</td>
                                    <td class="text-center">{{menuItem.price}}</td>
                                </tr>
                                {{/each}}
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
        </div> 
    </div>


</body>

</html>
