<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <link rel="stylesheet" type="text/css" href="../css/login.css" />
    <link rel="stylesheet" type="text/css" href="../css/bootstrap/bootstrap.min.css">
    <title>Login</title>
</head>

<body>
    <!-- Login Form -->

    <div class="container">

        <div class="mx-auto" style="width: 200px;"><a href="/"><img src="../images/loginlogo.png" style="width: 200px; height: 100px; object-fit: contain" alt="LOGO"></a></div>

        <div class="row justify-content-center mt-5 ">

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="card shadow border-secondary border-5">
                    <div class="card-title text-center border-bottom ">
                        <h2 class="p-3">Login</h2>
                    </div>
                    <div class="card-body">
                        <form method="post" action="/login">
                            <div class="mb-4">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" name="email" id="email" class="form-control" id="username" required/>
                            </div>
                            <div class="mb-4">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="password" id="password" class="form-control" id="password" required/>
                            </div>
                            <div class="d-grid">
                                <button type="login" class="btn btn-primary">Login</button>
                                <p id="error" class="error">{{error}}</p>
                             </div>
                        </form>
                        <div class="d-grid">
                            <a href="/signup" class="link-primary text-center text-decoration-none">New here? Create an account</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>